@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var selection = CurrentPage.Site().Children.Where("Visible");
    var projectsSelection = Umbraco.Content(1088).Children.Where("Visible").OrderBy("CreateDate desc");
	var compSelection = Umbraco.Content(1088).Children.Where("projectStatus == @0", 11);
    var root = CurrentPage.AncestorOrSelf(1);
}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="@(CurrentPage.Name == root.Name ? "active" : null)"><a href="@root.Url">@root.Name</a></li>	 		 
		  
	@foreach(var item in selection){
		<li class="@(item.Name == Model.Content.Name ? "active" : null)"><a href="@item.Url">@item.Name</a></li>
	}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
          
		<ul class="dropdown-menu">
			@if (Members.GetCurrentLoginStatus().IsLoggedIn) {
            foreach (var item in projectsSelection)
				{
					<li class="@(item.Name == Model.Content.Name ? "active" : null)"><a href="@item.Url">@item.Name</a></li>
				}
			}else{
				foreach (var item in compSelection)
                {
				<li class="@(item.Name == Model.Content.Name ? "active" : null)"><a href="@item.Url">@item.Name</a></li>
				}
			}
          </ul>
			  
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

