@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MemberSection>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "Master.cshtml";
    }
    <h2>Active Members</h2>
    <ul>
        @foreach (var member in ApplicationContext.Current.Services.MemberService.GetMembersByMemberType("Active"))
        {
        string image = member.GetValue<string>("photo");
        var imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
        var imagePath = imageCrop.Src.GetCropUrl(width: 100);
		String[] skills = member.GetValue("skills").ToString().Split(',');
		string skillString = string.Join(", ", from skill in skills 
										 select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
        			
		<li><strong>@member.Name</strong></li>
		<li><img src="@imagePath" /></li>
        <ul>
            <li>
               <span><strong>Adresse:</strong></span> @member.GetValue("Address")
            </li>
            <li>
                <span><strong>Postnr.:</strong></span> @member.GetValue("Zip")
            </li>
            <li>
                <span><strong>By:</strong></span> @member.GetValue("City")
            </li>
            <li>
                <span><strong>Telefonnr.:</strong></span> @member.GetValue("Mobile")
            </li>
			<ul>
					<li><strong>Skills</strong></li>
					<ul><li>@skillString</li></ul>
			</ul>
        </ul>
        }
    </ul>
    <h2>Guests</h2>
    <ul>
        @foreach (var member in ApplicationContext.Current.Services.MemberService.GetMembersByMemberType("Guest"))
        {
        <li>@member.Name</li>
        }
    </ul>
