@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}
@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()
	<div class="container">
@if (!Members.GetCurrentLoginStatus().IsLoggedIn) {
	using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{		<div class="col-md-6">
    <legend>Login</legend>
    <div class="form-group">
        @Html.ValidationSummary("loginModel", true)
        @Html.LabelFor(m => loginModel.Username)
            @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(m => loginModel.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => loginModel.Password)
            @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(m => loginModel.Password)
        <br />
    </div>
    <button class="btn btn-primary">Login</button>
</div>
}
}else {
<p>You are currently logged in as
@Members.GetCurrentLoginStatus().Name</p>
	var logoutModel = new PostRedirectModel();
logoutModel.RedirectUrl = "/";
using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout")) {
<button class="btn btn-primary">Logout</button>
@Html.HiddenFor(m => logoutModel.RedirectUrl)
}
}